body {
  margin: 0 auto;
  text-align: center;
}

header {
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  font-size: 24px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 50px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  background-color: #f1f1f1;
}

.nav-links a {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
}

p {
  font-size: 18px;
  font-family: 'Anonymous Pro', sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}

.card {
  flex: 0 0 calc(33.33% - 10px);
  margin-bottom: 20px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 18px;
  color: #888;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

footer {
  background-color: #f1f1f1;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 960px;
  margin: 0 auto;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.footer-links li {
  display: inline-block;
  margin: 0 10px;
}

.footer-links li a {
  text-decoration: none;
  color: #333;
}
