@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.body {
		@apply flex flex-col min-h-screen items-center justify-between;
	}

	.navbar-zoom {
		@apply hover:text-white transition duration-100 hover:bg-black duration-200 ease-in;
	}

	.navbar {
		@apply font-fira-mono px-4 py-1 rounded-md text-gray-700;
	}

	.container {
		@apply w-full px-4 md:w-4/5 mt-16 md:mt-10 md:flex md:justify-center mb-4;
	}

	.leftparent {
		@apply w-full md:w-1/2 p-4 flex justify-center;
	}

	.leftchild {
		@apply w-3/4;
	}

	.rightparent {
		@apply w-full md:w-1/2 p-2;
	}

	.rightchild {
		@apply w-full;
	}

	.img-zoom {
		@apply cursor-pointer hover:scale-110 transition-transform duration-200 ease-in-out;
	}

	.img {
		@apply w-10 h-10 mb-4 rounded-lg;
	}

	.h2-text {
		@apply text-xl font-bold mb-2 font-anonymous-pro;
	}

	.div-warna {
		@apply w-7 h-7 bg-blue-500 mb-2 img-zoom;
	}

	.p-harga {
		@apply text-gray-600 mb-4 font-anonymous-pro;
	}

	.p-ukuran {
		@apply text-gray-600 font-anonymous-pro space-y-2 md:space-y-0 md:flex md:flex-wrap md:space-x-2;
	}

	.div-button-size {
		@apply flex space-x-2 mb-4;
	}

	.button-size {
		@apply font-anonymous-pro bg-gray-300 text-gray-600 px-4 py-2 rounded-md;
	}

	.button-size-hover {
		@apply hover:bg-black hover:text-white transition duration-100;
	}

	.button-size-active {
		@apply bg-black text-white;
	}

	.div-quantity {
		@apply flex space-x-2 mb-4;
	}

	.button-quantity-minus {
		@apply w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75;
	}

	.button-quantity-plus {
		@apply w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75;
	}

	.button-quantity-number {
		@apply h-10 w-16 border-transparent text-center [-moz-appearance:_textfield] sm:text-sm [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none;
	}

	.button-add-to-cart {
		@apply font-anonymous-pro text-black px-4 py-2 rounded-md;
	}

	.button-add-to-cart-hover {
		@apply hover:bg-black hover:text-white border border-black transition duration-100 mr-2
	}

	.no-spinner {
		-moz-appearance: textfield;
	  }
  
	  .no-spinner::-webkit-outer-spin-button,
	  .no-spinner::-webkit-inner-spin-button {
		margin: 0;
		-webkit-appearance: none;
	  }


}
